<html>

<head>
    <title>Livraria</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <img src="/images/logo.jpg" alt="logo">
    <h1>Bem vindos à Livraria</h1>
    <ul>
        <% livros.forEach((livro)=>{ %>
            <li>
                <% livro.titulo %>
            </li>
            <%}); %>
    </ul>
</body>

</html>